{% extends 'base.html' %}
{% load static %}
{% block title %}Profile | {{ profile.user.username }}{% endblock %}
{% block content %}

{% load crispy_forms_tags %}


<div class="container p-4">
    <div class="profile">
        <div class="info">
            <div class="profile-img text-center">
                {% if profile.image.url is not none %}
                <img src="{{ profile.image.url }}" alt="{{ profile.user.username}}'s profile image">
                {% else %}
                <img src="{% static '/images/no_profile_image.svg'%}" alt="Placeholder">
                {% endif %}
            </div>
            <h1>{{ profile.user.username }}</h1>
            <p><strong>Joined on: </strong>{{ profile.user.date_joined|date:'d M Y' }}</p>

            {% if profile.bio is not none %}
            {{ profile.bio|safe}}
            {% endif %}

            <p><strong>Number of Event(s) created : </strong>{{ profile.user.event_posts.count}}</p>
            <p><strong>Number of Event(s) registered to: </strong>{{ profile.user.events.count}}</p>

            {% if request.user == profile.user %}
            <button id="myBtn" class="btn btn-primary w-25 mb-4">Edit</button>
            {% endif %}
        </div>
        <div class="profile-events">
            <h2 class="text-center pb-4">
                Latest Events
            </h2>
            {% for event in profile.user.event_posts.all %}
            <a href="{% url 'event_detail' event.slug %}">
                <h3>{{ event.name }}</h3>
            </a>
            {{ event.created_on }}
            <hr>
            {% endfor %}
        </div>
    </div>
</div>


<div id="myModal" class="modal mt-5">
    <div class="modal-content container">
        <span class="close fs-1 pe-2">&times;</span>
        <form action="{% url 'edit_profile' request.user.id %}" method="POST" class="mb-2 p-2"
            enctype="multipart/form-data">
            <h2 class="text-center fs-4">Edit Profile</h2>
            {% csrf_token %}
            {{ form }}
            {{ form.media }}
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary w-25">Edit</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block postload_js %}
{{ block.super }}
<script>
    // Get the modal
    const modal = document.getElementById("myModal");

    // Get the button that opens the modal
    const btn = document.getElementById("myBtn");

    // Get the <span> element that closes the modal
    const span = document.getElementsByClassName("close")[0];

    // When the user clicks on the button, open the modal
    btn.onclick = function () {
        modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>
{% endblock %}