@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600&family=Roboto:wght@400;500&display=swap');

:root {
    /* Fonts */
    --title: 'EB-Garamond', serif;
    --main-font: 'Roboto', serif;

    /* Colors  */
    /* --background: #3f006a0f; */
    --background: radial-gradient(circle at 74.2% 50.9%, rgb(14, 72, 222) 5.2%, rgb(3, 22, 65) 75.3%);
    --orange: #E84610;
    --blue: #0d6efd;
    --black: #000;
    --off-white: #f6f6f6;
    --white: #fff;

    /* Utilities */
    --smal-box-shadow: 1px -1px 7px 0 #00000061;
    --border: 1px solid #00000030;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: var(--main-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--title);
}

main {
    flex: 1 0 auto;
    background-color: var(--off-white);
}

/* Header */

.navbar,
ul.dropdown-menu.show {
    background: var(--background);
    box-shadow: var(--smal-box-shadow);
}

#navbarSupportedContent .nav-link,
ul.dropdown-menu.show .dropdown-item {
    color: var(--white);
}

#navbarSupportedContent .nav-link:hover,
ul.dropdown-menu.show .dropdown-item:hover {
    color: var(--orange);
}

#navbarSupportedContent .nav-link.active {
    border-bottom: 2px solid var(--orange);
    color: var(--orange);
    font-weight: 500;
}

img.logo {
    width: 5rem;
}

/* Footer */

footer {
    flex-shrink: 0;
    background: var(--background);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-top: var(--border);
}

footer p {
    height: 2rem;
    margin: 1rem;
    color: var(--white);
}

footer a {
    color: var(--white);
    font-size: 1.2rem;
}

footer a:hover {
    color: var(--orange);
}

/* Form */

.form {
    width: 100%;
    margin: 3% auto;
    box-shadow: var(--smal-box-shadow);
    border-radius: 5px;
}

.main-bg {
    background-color: var(--off-white);
}

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    max-width: 30%;
    left: -2px;
    background-color: var(--blue);
}

.scale {
    width: 100%;
    height: auto;
}

.author {
    color: var(--white);
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: var(--blue);
    color: var(--white);
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: var(--blue);
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.post-link {
    text-decoration: none;
    color: var(--blue);
}

.post-link:hover,
.page-link {
    color: var(--orange);
}

.post-name {
    margin-top: 20%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: var(--black);
}

button.btn.btn-edit{
    background-color: var(--blue);
    color: var(--white);
}

.link {
    color: var(--blue);
    text-decoration: none;
}

.link:hover,
.link:active {
    color: var(--orange);
    text-decoration: underline;
}

button.btn.btn-like {
    color: var(--orange);
    border: none;
    background: transparent;
}

button.btn.btn-delete {
    color: var(--white);
    background: var(--orange);
}

.btn-like:hover,
.btn-like:active {
    color: var(--orange);
    background: transparent;
    border: none;
}

.faded {
    color: rgb(172, 175, 175);
}

.approval {
    color: rgb(222, 146, 168);
}

/* Profile */

.profile-img {
    width: 280px;
    margin: 0 auto;
}

.profile-img img {
    border-radius: 8px;
    width: 100%;
}

.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info {
    width: 100%;
    text-align: center;
}

.profile-events {
    width: 100%;
}

@media screen and (min-width: 62.5em) {
    .profile {
        flex-direction: row;
    }

    .info {
        width: 30%;
    }

    .profile-events {
        width: 70%;
        padding: 1.5rem 3rem;
    }

    .profile-events a {
        text-decoration: none;
    }
}