{% load static %}

<footer>
    <p class="m-0 text-center">Created by <strong>Mr. Ahmad Jawed Hazrati </strong> | all rights reserved !</p>
    <p class="m-0 text-center">Follow us on:
        <a href="https://www.facebook.com" target="_blank" rel="noopener" aria-label="Linkedin - Opens in a new tab"
            class="fab fa-facebook">
        </a>
        <a href="https://www.instagram.com" target="_blank" rel="noopener" aria-label="Instagram - Opens in a new tab"
            class="fab fa-instagram">
        </a>
        <a href="https://www.twitter.com" target="_blank" rel="noopener" aria-label="Twitter - Opens in a new tab"
            class="fab fa-twitter">
        </a>
        <a href="https://www.youtube.com" target="_blank" rel="noopener" aria-label="YouTube - Opens in a new tab"
            class="fab fa-youtube">
        </a>
        <a href="https://www.pinterest.com" target="_blank" rel="noopener" aria-label="Linkedin - Opens in a new tab"
            class="fab fa-pinterest">
        </a>
        <a href="https://www.linkedin.com" target="_blank" rel="noopener" aria-label="Linkedin - Opens in a new tab"
            class="fab fa-linkedin">
        </a>
    </p>
</footer>