{% extends 'base.html' %}
{% block title%}Event Confirmation | {{event.name}}{% endblock %}
{% block content %}
{% load static %}

<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                <h1 class="post-name">{{ event.name }}</h1>
                <p class="post-subtitle">{{ event.author }} | {{ event.created_on }}</p>
            </div>
            <div class="d-none d-md-block col-md-6 masthead-image">
                {% if "placeholder" in event.featured_image.url %}
                <img src="{% static 'images/default.jpg' %}" class="scale" alt="placeholder">
                {% else %}
                <img class="scale" src="{{ event.featured_image.url }}" alt="{{ event.name}}">
                {% endif %}
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col card mb-4 mt-3 left top">
            <div class="card-body">
                <p class="card-text">{{ event.description | safe }}</p>
                <div class="row">
                    <div class="col-1">
                        <strong>
                            {% if user.is_authenticated %}
                            <span class="text-secondary"><i class="far fa-heart"></i></span>
                            {% endif %}
                            <span class="text-secondary">{{ event.number_of_likes }}</span>
                        </strong>
                    </div>
                    <div class="col-1">
                        <strong class="text-secondary"><i class="far fa-comments"></i>
                            {{ event.comments.count }}
                        </strong>
                    </div>
                    <div class="col-1">
                        <strong class="text-secondary"><i class="fa fa-users" aria-hidden="true"></i>
                            {{ event.participants.count }}
                        </strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
<form action="" method="POST">
    {% csrf_token %}
    <a class="btn btn-outline-primary" href="{% url 'event_detail' event.slug %}">Back</a>
    <button type="submit" value="Confimr" class="btn btn-outline-primary">Confirm</button>
</form>

{% endblock %}